<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Title</title>
</head>
<body>
    <div id="navbar">
        <ul>
            {% for index in range(navbar.get_num_links()) %}
            <li>
                <a href="{{ navbar.get_link(index) }}"}>{{ navbar.get_title(index) }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>