{% extends "base.html" %}

{% block content %}
    {% if order.get_num_items() == 0 %}
        Items will appear here when you order!
    {% else %}
        {% for index in range(order.get_num_items()) %}
            {{ order.get_name(index) }}
            {{ order.get_price(index) }}
            {{ order.get_quantity(index) }}
        {% endfor %}
        Total price: {{ order.get_total_price() }}
        <form method="post" action="{{ order.get_handler() }}">
            <button type="submit" name="order">Order</button>
            <button type="submit" name="cancel">Cancel</button>
            {% if not in_basket %}
                <button type="submit" name="basket">Switch to basket</button>
            {% endif %}
        </form>
    {% endif %}
{% endblock %}