{% extends "base.html" %}

{% block content %}
    <form method="post">
        <label for="search">Search for item:</label>
        <input type="text" id="search" name="search"><br>
        <button type="submit">Search</button>
    </form>
    <div class="unordered_list">
        <ul>
            {% for result in results %}
                <li>
                    <a href="{{ result.get_link() }}">{{ result.get_name() }}</a>
                      {{ result.get_price() }}<br><br>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}